NEXT_PUBLIC_SUPABASE_URL=https://xusbjeqprjozzgprobwy.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_V9msmw2zIZXVUByEQBsZRg_9jogvD2n
NEXT_PUBLIC_SITE_URL=https://agentic-realestate-os-jvar2.vercel.app
OPENAI_API_KEY=
